// BLOG Introduction Styles



.blog {
    background-color: rgba(0,0,0, .06);

    .blog-headline { @include font-color(black) };

    .blog-headline {
        position: relative;
        height: 100%;
        margin-bottom: 10%;

        h2 {
            position: relative;
        }

        .post { @include paragraph($m-size + 1rem) };
    }
}

// Article Styles

.article-container {
    width: 90%;
    margin: 0 auto 10vh auto;
    background-color: white;

    .article-image {
        display: flex;
        justify-content: center;
        max-width: 100%;
        margin: 0 auto;
        height: auto;
        overflow: hidden;
    }

    .article-summary { @include paragraph($m-size + 1rem) };

    .article-summary {
        font-size: $s-size;
        color: $gray;
        margin: 5% 10%;
    }

    .read-more{ @include red-button()};

    .read-more {
        margin: 2% 0 10% 10%;
        padding: $s-size $l-size;
    }

    .blog-article {
        .article-title {
            font-size: $m-size + 0.5rem;
            margin: 10% 7%;
            font-weight: 400;
        }

        .row-space-inbetween {
            font-size: $m-size;
            display: flex;
            justify-content: space-between;

            .comments {
                padding: 2% 4% 2% 10%;
                white-space: nowrap;
            }

            .fa-comment-alt {
                color: $lred;
            }
        }

        .article-date {
            position: relative;
            background-color: $lred;
            color: white;
            padding: 2% 4% 2% 10%;
            margin-left: -2.5%;

            &:before {
                position: absolute;
                top: -9px;
                left: 0;
                content: '';
                border-style: solid;
                border-width: 0 0 9px 9px;
                border-color: transparent transparent $lred;
            }
        }
    }
}
