.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0,0,0,0);
    border: 0;
}

.menu-toggle,
.logo {
    position: relative;
}

/* Button */

.menu-toggle {
    display: inline-block;
    padding: .75em 15px;
    line-height: 1em;
    font-size: 1em;
    color: #333;

    &:hover,
    &:focus {
        color: #c00;
    }
}

/* Offscreen menu */

.main-menu {
    position: absolute;
    left: -200px;
    top: 0;
    height: 100%;
    overflow-x: visible;
    overflow-y: hidden;
    transition: left 0.3s ease,
        box-shadow 0.3s ease;
    z-index: 999;

    ul {
        list-style: none;
        margin: 0;
        padding: 2.5em 0 0;
        -webkit-box-shadow: -8px 0 8px rgba(0,0,0,.5);
        -moz-box-shadow: -8px 0 8px rgba(0,0,0,.5);
             box-shadow: -8px 0 8px rgba(0,0,0,.5);
        min-height: 100%;
        width: 200px;
        background: #1a1a1a;
    }

    a {
        display: block;
        padding: .75em 15px;
        line-height: 1em;
        font-size: 1em;
        color: #fff;
        text-decoration: none;
        border-bottom: 1px solid #383838;

        &:hover,
        &:focus {
            background: #333;
            text-decoration: underline;
        }

    }
    

    &:target {
        left: 0;
        outline: none;
        -moz-box-shadow: 3px 0 12px rgba(0,0,0,.25);
        -webkit-box-shadow: 3px 0 12px rgba(0,0,0,.25);
        box-shadow: 3px 0 12px rgba(0,0,0,.25);
        
        .menu-close {
            z-index: 1001;
        }

        ul {
            position: relative;
            z-index: 1000;
        }

        + .backdrop {
            position: absolute;
            display: block;
            content: '';
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            z-index: 998;
            background: #000;
            background: rgba(0,0,0,.85);
            cursor: default;
        }
    }

    li:first-child a {
        border-top: 1px solid #383838;
    }

    .menu-close {
        position: absolute;
        right: 0;
        top: 0;
    }
}

@supports (position: fixed) {
    .main-menu,
    .main-menu:target + .backdrop {
      position: fixed;
    }
}

@media screen and (min-width: 768px) {
    .menu-toggle {
        visibility: hidden;
        padding: 0;
    }

    /* Undo positioning of off-canvas menu */
    .main-menu {
        position: relative;
        left: auto;
        top: auto;
        height: auto;

        ul {
            display: flex;
        
            /* Undo off-canvas styling */
            padding: 0;
            -webkit-box-shadow: none;
               -moz-box-shadow: none;
                    box-shadow: none;
            height: auto;
            width: auto;
            background: none;
        }
        
        a {
            border: 0 !important; /* Remove borders from off-canvas styling */
        }

        &:hover,
        &:focus {
            background: none;
        }

        .menu-close {
            display: none;
        }
    }
}
