.projects {
    height: 20vh;

    h2 {
        font-size: $l-size;
        font-weight: 400;
        text-align: center;
    }

    p { @include paragraph($l-size) };
}

.projects-list {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    margin-top: 15vh;

    .project-thumbnail {
        height: 45vh;
        margin: 3vh auto;
        width: 90%;
        position: relative;
        background-size: cover;
        transition-property: all;
        transition-timing-function: ease-in-out;
        transition-duration: 1.5s;
        transition-delay: 0.2s;
        

            &:active {
                .thumbnail-text {
                    bottom: 1rem;
                }
            }


            .thumbnail-text {
                position: absolute;
                bottom: 0.8rem;
                left: $m-size;
                color: white;
            }

            h2 {
                font-size: $l-size;
            }
            h4 {
                font-size: $m-size;
            }

            h2, h4 {
                font-weight: 200;
            }
    }

    .proj-1 {
        background-image: url('img/ocean.jpg');
    }

    .proj-2 {
        background-image: url('img/waterfall.jpg');
    }

    .proj-3 {
        background-image: url('img/iceland.jpg');
    }

    .proj-4 {
        background-image: url('img/desk.jpg');
    }

    .proj-5 {
        background-image: url('img/stars.jpg');
    }

    .proj-6 {
        background-image: url('img/cliff.jpg');
    }
}

@media screen and (min-width: 768px) {
    .projects {
        h2 {
            font-size: $xl-size;
        }

        p {
            width: 50%;
            margin: 0 auto;
        }
    }

    .projects-list {
        flex: 1;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;

        .project-thumbnail {
            height: 50vh;
            width: 25vw;
            margin: 3vh 1vw;

            h2 {
                font-weight: 700;
            }
        }
    }
}