.second {
    background-color: rgba(0,0,0, .06);
    color: $gray;
}

.row {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    visibility: hidden;

    .small-article {
        flex: 1;

        h3 {
            font-size: $l-size;
            font-weight: 400;

            .fa-mobile-alt, .fa-eye, .fa-rocket {
                color: #F36363;
                min-width: 40px;
                padding: 0 3% 0 3%;
            }
        }

        p {
            font-size: $m-size;
            margin: 2% 10% 5% 18%;
            width: 80%;
        }
    }
}

@mixin animation-delay($time) {
        
    animation-name: fadeIn;
    animation-duration: 1s;
    animation-fill-mode: both;
    animation-delay: $time;
    

    @keyframes fadeIn {
        from {
            opacity: 0;
          }
        
          to {
            visibility: visible;
            opacity: 1;
        }
    }
}

.fadeOne { @include animation-delay(0.4s) }
.fadeTwo { @include animation-delay(0.7s) }
.fadeThree { @include animation-delay(1s) }

@media screen and (min-width: 768px) {
    .second {
        height: 80vh;
    }

    .row {
        padding-top: 8%;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: space-evenly;

        .small-article {
            flex-basis: 25%;
            flex-grow: 0;

            h3 {
                white-space: nowrap;
            }
        }
    }
}

