.row {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    visibility: hidden;

    .small-article {
        flex: 1;

        h3 {
            font-size: $l-size;
            font-weight: 400;

            .fa-mobile-alt, .fa-eye, .fa-rocket {
                color: #F36363;
                min-width: 40px;
                padding: 0 3% 0 3%;
            }
        }

        p {
            font-size: $m-size;
            margin: 2% 10% 5% 18%;
            width: 80%;
        }
    }
}

@mixin animation-delay($time) {
        
    animation-name: fadeIn;
    animation-duration: 1s;
    animation-fill-mode: both;
    animation-delay: $time;
    

    @keyframes fadeIn {
        from {
            opacity: 0;
          }
        
          to {
            visibility: visible;
            opacity: 1;
        }
    }
}

.fadeOne { @include animation-delay(0.4s) }
.fadeTwo { @include animation-delay(0.7s) }
.fadeThree { @include animation-delay(1s) }

