.second {
    background-color: rgba(0,0,0, .06);
}

.row {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;

    .small-article {
        flex: 1;

        h3 {
            font-size: $l-size;
            font-weight: 200;

            .fa-mobile-alt, .fa-eye, .fa-rocket {
                color: #F36363;
                min-width: 40px;
                padding: 0 3% 0 3%;
            }
        }

        p {
            font-size: $m-size;
            color: $gray;
            margin: 2% 10% 5% 18%;
            width: 80%;
        }
    }
}

@media screen and (min-width: 768px) {
    .second {
        height: 80vh;
    }

    .row {
        padding-top: 8%;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: space-evenly;

        .small-article {
            flex-basis: 25%;
            flex-grow: 0;

            h3 {
                white-space: nowrap;
            }
        }
    }
}

