@import url('https://fonts.googleapis.com/css?family=Raleway:400,700');

html {
    font-size: 62.5%;
}

html, body {
    width: 100%;
}

body {
    font-family: 'Raleway', sans-serif;
}

.page {
    height: 100vh;
}

.flex-same-width {
    flex-grow: 1;
    flex-basis: 0;
}