@import url('https://fonts.googleapis.com/css?family=Raleway:200,400,700');

html {
    font-size: 62.5%;
}

html, body {
    width: 100%;
}

body {
    font-family: 'Raleway', sans-serif;
}

.page {
    height: 100vh;
}

.flex-same-width {
    flex-grow: 1;
    flex-basis: 0;
}

@mixin font-color($color) {
    height: 20vh;
    position: relative;
    

    h2 {
        text-align: center;
        width: 100%;
        color: $color;
        font-size: $l-size;
        font-weight: 200;
        position: absolute;
    }
}

@mixin paragraph($line-height) {
    font-size: $m-size;
    color: $gray;
    width: 80%;
    margin: 0 auto;
    line-height: $line-height;
}