// Sizing

$s-size: 1.2rem;
$m-size: 1.6rem;
$l-size: 3.2rem;
$xl-size: 4.8rem;

$quote: 55px;


// Colors:

$red: #e94949;
$lred: #f44542;
$orange: #f07b0d;
$gray: #7E7E7E;
$black: #302e2e;

// Button hover mixin

@mixin buttonHover() {
    transition-property: background-color, border-color;
    transition-timing-function: ease-in-out;
    transition-duration: 0.5s;
    transition-delay: 0.01s;
}